.image-center{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.all-texts{
    font-family: 'system-ui';
    color: #000000;
    text-align: center;
}
.center-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-text{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options{
    margin-top: 8vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.primary-button{
    margin-top: 8vh;
    padding: 1.6vh 16vh;
    background-color: #92E3A9;
    border: none;
    color: #FFFFFF;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 128.91%;
    text-decoration: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.secondary-button{
    padding-top: 4vh;
    border: none;
    color: #92E3A9;
    text-decoration: none;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}


.page-check-label img{
    padding: 0vh 1vh 0vh 1vh;   
}
