
.image-center{
    padding-top: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.all-texts{
    display: block;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.all-texts h3{
    font-weight: 600;
    font-size: 24px;
}
.all-texts p{
    font-weight: 400;
    font-size: 18px;
}
.selector {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    
}

.selector a {
    display: inline-block;
    margin: 6px;
    padding: 5px;
    border-radius: 100px;
    border: solid black 1px;
}

.selector a.active {
    background: #92E3A9;
    border-color: #92E3A9;
}
#continue{
    width: 308px;
    height: 54px;
    color: #FFFF;
    background: #92E3A9;
}
.buttons{
    display: grid;
    justify-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.buttons input{
    font-size: 18px;
    border: none;
    width: 308px;
    height: 54px;
    background-color: #92E3A9;
    color: #FFFF;
    box-shadow: 0px 4px 10px #A1C3FC;
    font-family: 'Poppins', sans-serif;
}
.buttons a{
    font-size: 18px;
    padding-top: 20px;
    color: #92E3A9;
    text-decoration: none;
}